{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Modification d'une sortie{% endblock %}


{% block body %}
    <h1>Modifier une sortie</h1>

    {{ form_start(sortieForm) }}

    <div class="row">
        <div class="col-md-5 offset-md-1">
            <div class="row">
                <div class="col-6">
                    {{ form_label(sortieForm.nom) }}
                </div>
                <div class="col-6">
                    {{ form_widget(sortieForm.nom) }}
                    {{ form_errors(sortieForm.nom) }}
                </div>
                <div class="col-6">
                    {{ form_label(sortieForm.dateLimiteInscription) }}
                </div>
                <div class="col-6">
                    {{ form_widget(sortieForm.dateLimiteInscription) }}
                    {{ form_errors(sortieForm.dateLimiteInscription) }}
                </div>
                <div class="col-6">
                    {{ form_label(sortieForm.dateHeureDebut) }}
                </div>
                <div class="col-6">
                    {{ form_widget(sortieForm.dateHeureDebut) }}
                    {{ form_errors(sortieForm.dateHeureDebut) }}
                </div>
                <div class="col-6">
                    {{ form_label(sortieForm.nbInscriptionsMax) }}
                </div>
                <div class="col-6">
                    {{ form_widget(sortieForm.nbInscriptionsMax) }}
                    {{ form_errors(sortieForm.nbInscriptionsMax) }}
                </div>
                <div class="col-6">
                    {{ form_label(sortieForm.duree) }}
                </div>
                <div class="col-6">
                    {{ form_widget(sortieForm.duree) }} minutes
                    {{ form_errors(sortieForm.duree) }}
                </div>
                <div class="col-6">
                    {{ form_label(sortieForm.infosSortie) }}
                </div>
                <div class="col-6">
                    {{ form_widget(sortieForm.infosSortie) }}
                    {{ form_errors(sortieForm.infosSortie) }}
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="row">
                <div class="col-6">
                    {{ form_label(sortieForm.campus) }}
                </div>
                <div class="col-6">
                    {{ form_widget(sortieForm.campus) }}
                    {{ form_errors(sortieForm.campus) }}
                </div>
                <div class="col-6">
                    {{ form_label(sortieForm.ville) }}
                </div>
                <div class="col-6">
                    {{ form_widget(sortieForm.ville) }}
                    {{ form_errors(sortieForm.ville) }}
                </div>
                <div class="col-6">
                    {{ form_label(sortieForm.lieu) }}
                </div>
                <div class="col-6">
                    {{ form_widget(sortieForm.lieu) }}
                    {{ form_errors(sortieForm.lieu) }}
                </div>
                <div class="col-6">
                    Rue :
                </div>
                <div id="rue" class="col-6">
                    {{ sortie.lieu.rue }}
                </div>
                <div class="col-6">
                    Code Postal :
                </div>
                <div id="codePostal" class="col-6">
                    {{ sortie.lieu.ville.codePostal }}
                </div>
                <div class="col-6">
                    Latitude :
                </div>
                <div id="latitude" class="col-6">
                    {{ sortie.lieu.latitude }}
                </div>
                <div class="col-6">
                    Longitude :
                </div>
                <div id="longitude" class="col-6">
                    {{ sortie.lieu.longitude }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 centered">
            {{ form_widget(sortieForm.enregistrer) }}
        </div>
        <div class="col-3 centered">
            <a class="btn btn-primary" href="{{ path('publication', {'id': sortie.id}) }}">Publier la sortie</a>
        </div>
        <div class="col-3 centered">
            <a class="btn btn-primary" href="{{ path('suppression-sortie', {'id': sortie.id}) }}">Supprimer la sortie</a>
        </div>
        <div class="col-3 centered">
            <a class="btn btn-secondary" href="{{ path('accueil') }}">Annuler</a>
        </div>
    </div>
    {{ form_widget(sortieForm._token) }}
    {{ form_end(sortieForm, {'render_rest': false}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/updateLieux.js') }}"></script>
{% endblock %}
